{% extends 'layout.html' %}

{% block content %}
<form class="ui form">
    <table class="ui compact celled table">
        <thead>
            <tr>
                <th>User</th>
                <th>Word</th>
                <th>th</th>
            </tr>
        </thead>
        <tbody>
            {% for dialog_word in dialog_words %}
            <tr>
                <td>{{ dialog_word.dialog_person_name }}</td>
                <td>{{ dialog_word.base }}</td>
                <td>
                    <input type="hidden" name="base.{{ dialog_word.dialog_word_id }}"
                        value="{{ dialog_word.dialog_word_id }}">
                </td>
                <td>
                    <input type="text" name="th.{{ dialog_word.dialog_word_id }}" value="">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="ui button">Проверить</button>
</form>
{% endblock %}