{% extends 'layout.html' %}

{% block content %}
<form class="ui form" action="{{ url_for('dialogs.dialog', dialog_id=dialog.id) }}" method="post" >
    <table class="ui compact celled table">
        <thead>
            <tr>
                <th>User</th>
                <th>Word</th>
                <th>th</th>
            </tr>
        </thead>
        <tbody>
            {% for dialog_word in dialog_words %}
            <tr>
                <td>{{ dialog_word.dialog_person_name }}</td>
                <td>{{ dialog_word.base }}</td>
                <td>
                    <input type="text" name="{{ dialog_word.word_id }}">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="ui button">Проверить</button>
</form>
{% endblock %}