{% extends 'layout.html' %}

{% block content %}
<div>&nbsp;</div>

<form class="ui form"
    action="{% if word %}{{ url_for('words.word.edit', word_id=word.id) }}{% else %}{{ url_for('words.create') }}{% endif %}"
    method="post" autocomplete="off">
    <div class="required field">
        <label>Base</label>
        <input type="text" name="base" value="{% if word %}{{ word.base }}{% endif %}" required>
    </div>
    <div class="field">
        <label>th</label>
        <input type="text" name="th" value="{% if word %}{{ word.th or '' }}{% endif %}">
    </div>
    <div class="field">
        <label>Spelling</label>
        <textarea name="spelling">{% if word %}{{ word.spelling or '' }}{% endif %}</textarea>
    </div>
    <button class="ui teal button" type="submit">Save</button>
    <div class="field">
        <label>Comment</label>
        <textarea name="comment">{% if word %}{{ word.comment or '' }}{% endif %}</textarea>
    </div>
    <button class="ui teal button" type="submit">Save</button>
</form>
{% endblock %}