{% extends 'layout.html' %}

{% block content %}

<table class="ui compact celled table">
    <thead>
        <tr>
            <th>Слово</th>
            <th>th</th>
            <th>Active</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        {% for word in words %}
        <tr>
            <td><a href="{{ url_for('words.word', word_id=word.id) }}">{{ word.base }}</a></td>
            <td><span class="ui big text">{{ word.th }}</span></td>
            <td>{{ word.is_active }}</td>
            <td>{% if word.is_active %}
                <a href="{{ url_for('words.word.deactivate', word_id=word_id)}}" class="ui tiny red button">deactivate</a>
                {% else %}
                <a href="{{ url_for('words.word.activate', word_id=word_id)}}" class="ui primary button">activate</a>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}