{% extends 'layout.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/dropdown.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/components/dropdown.min.css">

<script>
    $(document).ready(function () {

        $('.words_dropdown').dropdown({
            clearable: true,
            fullTextSearch: true,
            filterRemoteData: true,
            onChange: function (value) {
                window.location.replace("/words/" + value);
            },
            apiSettings: {
                url: '/api/words?q={query}',
                cache: false
            }
        });

    });
</script>
<div>&nbsp;</div>
<div>
    <select class="ui fluid search words_dropdown">
    </select>

</div>


<table class="ui compact celled table">
    <thead>
        <tr>
            <th>Слово</th>
            <th>vi</th>
            <th>Translation</th>
            <th>Tags</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        {% for word in words %}
        <tr>
            <td><a href="{{ url_for('words.word', word_id=word.id) }}">{{ word.en }}</a></td>
            <td><span class="ui big text">{{ word.vi }}</span></td>
            <td><a target="_blank" href="https://translate.google.ru/?sl=th&tl=en&text={{ word.vi }}"><i
                        class="google icon"></i></a></td>
            <td>{{ word.tags or '' }}</td>
            <td>{% if word.is_active %}
                <a href="{{ url_for('words.word.deactivate', word_id=word.id)}}"
                    class="ui tiny red button">deactivate</a>
                {% else %}
                <a href="{{ url_for('words.word.activate', word_id=word.id)}}" class="ui primary button">activate</a>
                {% endif %}
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}