{% extends 'layout.html' %}

{% block content %}
<h1>{{ result }}</h1>

<p><span class="ui big text">{{ question }}</span></p>

{% if result == "fail" %}
    <p><span class="ui huge green text">{{ correct_answer }}</span>{% if spelling %} [{{ spelling }}]{% endif %}</p>

    {% if answer %}
    <p><span class="ui huge red text">{{ answer }}</span></p>
    {% endif %}

{% endif %}

<p><a href="/" class="ui teal massive button">Next</a></p>

{% if result == "success" %}
<p><a href="{{ url_for('never', word_id=word_id) }}" class="ui red massive button">Never</a></p>
{% endif %}
{% endblock %}