{% extends 'layout.html' %}

{% block content %}

{% if result %}
    <h1>{{ result }}</h1>
{% endif %}

{% if not result or result == "fail" %}
    <p><span class="ui huge green text">{{ word.th }}</span>{% if word.spelling %} [{{ word.spelling }}]{% endif %}</p>

    {% if user_answer %}
    <p><span class="ui huge red text">{{ user_answer }}</span></p>
    {% endif %}

    {% include "form.html" %}

{% endif %}

<p><a href="/" class="ui teal massive button">Next</a></p>

{% if result == "success" %}
<p><a href="{{ url_for('never', word_id=word.id) }}" class="ui red massive button">Never</a></p>
{% endif %}
{% endblock %}