<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css"
    integrity="sha512-n//BDM4vMPvyca4bJjZPDh7hlqsQ7hqbP9RH18GF2hTXBY5amBwM2501M0GPiwCU/v9Tor2m13GOTFjk00tkQA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .container {
        margin: 10px;
    }
</style>
<div class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column">
            <p><a href="{{ url_for('home') }}">Home</a></p>
            {% block content %}

            {% endblock %}
            <p></p>
            <div class="ui compact menu">
                {% if word and word.id %}
                <a class="item" class="ui teal button" href="{{ url_for('words.word.edit', word_id=word.id) }}">Edit</a>
                {% endif %}
                <a class="item" class="ui teal button" href="{{ url_for('words.create') }}">Create</a>
                <div class="item">Failes - {{ stat.fail }}</div>
                <div class="item">Success - {{ stat.success }}</div>
                <a class="item" href="{{ url_for('words.index') }}">Todays Words</a>
                <a class="item" href="{{ url_for('words.index', show_all_words=1) }}">All Words</a>
                <a class="item" href="{{ url_for('dialogs.index') }}">Dialogs</a>
            </div>
        </div>
    </div>
</div>