<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css"
        integrity="sha512-n//BDM4vMPvyca4bJjZPDh7hlqsQ7hqbP9RH18GF2hTXBY5amBwM2501M0GPiwCU/v9Tor2m13GOTFjk00tkQA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="main ui container">
        <div>&nbsp;</div>
        <div class="ui compact fixed menu">
            <a class="item" href="{{ url_for('home') }}"><i class="home icon"></i></a>
            {% if word and word.id %}
            <a class="item" href="{{ url_for('words.word', word_id=word.id) }}"><i class="redo icon"></i></a>
            <a class="item" href="{{ url_for('words.word.edit', word_id=word.id) }}"><i class="edit icon"></i></a>
            <a class="item" target="_blank" href="https://translate.google.ru/?sl=th&tl=en&text={{ word.th }}"><i
                    class="google icon"></i></a>
            {% endif %}
            <a class="item" href="{{ url_for('words.create') }}"><i class="plus icon"></i></a>
            <!-- <a class="item" href="{{ url_for('words.index') }}">Todays Words</a> -->
            <a class="item" href="{{ url_for('words.index') }}"><i class="list icon"></i></a>
            <a class="item" href="{{ url_for('dialogs.index') }}"><i class="handshake icon"></i></a>
            <div class="ui dropdown simple item">
                More
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ url_for('home', all=1) }}"><i class="home icon"></i> All</a>
                    <a class="item" href="{{ url_for('home', tag='numbers') }}"><i class="file icon"></i> Numbers</a>
                    <a class="item" href="{{ url_for('home', tag='colors') }}"><i class="adjust icon"></i> Colors</a>
                </div>
            </div>
        </div>
        <div>&nbsp;</div>

        {% block content %}

        {% endblock %}

    </div>
</body>

</html>